<div class="col-lg-8">
  <div class="card rounded-0 mb-5">
    <div class="card-body">
      <h2 class="text-center">students</h2>

             <div id="students">
               <% @students.each do |student| %>
                 <%= render student %>
                 <p>
                   <%= link_to "Show this student", student, class:"btn btn-outline-info rounded-0 mt-3"  %>
                 </p>
               <% end %>
             </div>

             <%= link_to "New student", new_student_path , class:"btn btn-info rounded-0 mt-3" %>
           </div>
         </div>
       </div>
