<div class="col-lg-8">
  <div class="card rounded-0 mb-5">
    <div class="card-body">
      <h2 class="text-center">New Student</h2>
<%= render "form", student: @student %>


<div>
  <%= link_to "Back to students", students_path, class:"btn btn-outline-info rounded-0 mt-3" %>
</div>
    </div>
  </div>
</div>

