<div class="col-lg-8">
  <div class="card rounded-0 mb-5">
    <div class="card-body">
      <h2 class="text-center">Show Information</h2>


          <%= render @student %>

          <div>
            <%= link_to "Edit this student", edit_student_path(@student), class:"btn btn-info rounded-0 mt-3" %> |
            <%= link_to "Back to students", students_path, class:"btn btn-outline-info rounded-0 mt-3" %>

            <%= link_to "Destroy this student", @student, class:"btn btn-danger rounded-0 mt-3" , method: :delete,data:{confirm:"Are you sure you want to delete" } %>
          </div>
        </div>
      </div>
    </div>

